body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.card {
    max-width: 300px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.up{
    width: 100%;
    height: auto;
}

.down{
    color:white;
    background-color:#000080
}

.match_and_duration_container{
    display: flex;

    :first-child{
       margin-right: 8px;
    }
}

#hello{
    color: green;
}

.upper i{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 12px;
    margin-top: 5px;
}

.lower div{
    margin-bottom: 3px;
}


